# Source control
.git
.github

# Environment and Secrets
.env
*.sh

# Python caches and logs
__pycache__/
*.py[cod]
*$py.class
*.log

# IDE settings
.vscode/
.idea/

# Docker files (không cần thiết trong image)
Dockerfile
.dockerignore
docker-compose.yaml

# Documentation
README.md
